.gen{
    margin-top: 10px;
    width: 400px;
    height: 820px;
    overflow: hidden;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 8px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 8px -2px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 8px -2px rgba(0,0,0,0.75);
    align-content: space-around;
    background-color: lightgray;
}

.gen:hover{
    transform: scale(1,1);
    box-shadow: 0px 0px 2px 0px;
}

.genItem{
    width: 100%;
    height: 100%;

}

.genflexcontainer{
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    flex-wrap: wrap;
    font-size: 15px;
    text-align: center;
    justify-content: space-between;
}

.genflexcontainerx{
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    justify-content: center;
}

.tdleft{
    text-align: center;
}

.tdmid{
    align-self: center;
    text-align: center;
}

.tdright{
    text-align: right;
}

.play{
    color: darkblue;
}

.thumbup{
    color: rgb(40, 75, 5);
}

.thumbdown{
    color: crimson;
}

.genTitle{
    margin-top: 10px;
    font-size: 30px;
    font-weight: 600;
}

.genPercentagecontainer{
    margin: 10px 0px;
    align-items: center;
}

.genPercentage{
    align-items: center;
    font-size: 30px;
    font-weight: 600;
}

.genPercentageRate{
    justify-content: space-around;
    font-size: 25px;
    margin-left: 10px;
}

.genPercentageDetail{
    justify-content: space-around;
    font-size: 20px;

}

.checkcircle{
    color: rgb(33, 177, 5);
}

.errorout{
    color: coral;
}

.genIcon{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    font-size: 10px;
    margin-left: 5px;
    color: green;
}

.genIconright{
    align-self: right;
    font-size: 40px;
    margin-left: 5px;
    color: green;
}

.genIcon.negative{
    color: red;
}